.navbar-wrap, .content-wrap {
    width: 940px;
    margin: 0 auto;
}

.content-wrap {
    margin-top: 50px;
    margin-bottom: 200px;
}

.controls .help-block {
    margin-bottom: 20px;
}

.not-mandetory .well:hover {
    cursor: pointer;
}

textarea {
    max-width: 600px;
}

.user-profile .definition {
    text-align: right;
    width: 200px;
    margin-right: 10px;
}

.user-profile .info {
    width: 700px;
}
