.navbar-wrap, .content-wrap {
    width: 940px;
    margin: 0 auto;
}

.content-wrap {
    margin-top: 50px;
    margin-bottom: 200px;
}

.controls .help-block {
    margin-bottom: 20px;
}

.not-mandetory .well:hover {
    cursor: pointer;
}

textarea {
    max-width: 600px;
}

.user-profile .definition {
    text-align: right;
    width: 200px;
    margin-right: 10px;
}

.user-profile .info {
    width: 700px;
}

.navbar-profile span {
    margin-left: 5px;
}

a:hover {
    text-decoration: none;
}

.event-heading .label {
    line-height: 40px;
}

.event-title {
    float: left;
}

.comment-heading-wrapper {
    background: url('../img/comment-line.png') repeat-x 0 50%;
    cursor: pointer;
}

.comment-heading {
    text-align: center;
}

.comment-heading span {
    padding: 0 10px;
    background-color: #fff;
}

.comment-info {
    margin-bottom: 0;
}

.comment-info .comment-action {
    margin-left: 5px;
}

.comment-author {
    padding-right: 20px;
}

.comment-date {
    color: #606060;
    font-style: italic;
}

.comment {
    margin-bottom: 15px;
}

li {
    list-style: none;
}

.table-small {
    width: 30px;
    text-align: center;
}

.table-normal {
    width: 150px;
}

.table-large {
    width: 350px;
}

th.table-actions,
td.table-actions {
    text-align: right;
}

.event-thumb {
    width: 290px;
    height: 200px;
    margin: 10px;
    float: left;
}

.event-thumb a {
    display: block;
    padding: 10px;
    width: 270px;
    height: 170px;
    overflow: hidden;
    color: #000;
}

.event-thumb a:hover {
    opacity: 0.3;
}

.user-table .table-actions .label {
    float: right;
    clear: right;
    margin-bottom: 2px;
}

.tags li {
    display: inline;
}